
</main>
<div class="footer mt-auto py-3 custom-footer text-center">
  <footer>
    <p>© <%= new Date().getFullYear() %> Manolo Sainas</p>
  </footer>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>