.form-homepage, .form-edit, .post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.send-post-button {
  display: flex;
  justify-content: center;
}

.custom-footer {
  background-color: #b3fffabb;
  color: #000000;
}